.List {
  list-style-type: none;
  background-color: #d7fff5;
}

.ListItem {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: larger;
}

.ListItem:focus,
.ListItem:hover {
  color: #ff0000;
}
